* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
    
    font-family: "Karla", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    /* border: 1px solid; */
    
}

.logo img {
    width: 80px; /* Adjust as per your logo size */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.nav-links li a:hover {
    /* color: #ffcc00; */
    text-decoration: underline;
}

.login-btn {
    padding: 15px 50px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    border-radius: 100px;
    font-family: "Karla", Sans-serif;
}

.login-btn:hover {
    /* background-color: #333;
    color: #ffcc00;
    border: none;
    padding: 15px 70px; */
    
}



/* Banner Styles */
.banner {
    height: 700px;
    position: relative;
    background-image: url('./assets/banner1.jpeg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 0;
}


.banner-content {
    position: relative;
    z-index: 2; /* Ensures the content appears above the overlay */
}

.banner h1 {
  
    margin-bottom: 20px;

    color: #FFFFFF;
    font-family: "Karla", Sans-serif;
    font-size: 72px;
    font-weight: 600;
}

.banner p {
    
    margin-bottom: 30px;

    color: #FFFFFF;
    font-family: "Karla", Sans-serif;
    font-size: 20px;
    font-weight: 400;

}

.banner-btn {
    padding: 15px 30px;
    background-color: #ffffff;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
}

.banner-btn:hover {
    padding: 15px 30px;
    background-color: #ffffff;
}


/* Section for Boxes */
.boxes-section {
    margin-top: -144px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px 20px;
    background-color: #f4f4f400;
}

.box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    border: 2px solid #000000;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box h2 {
 
    margin-bottom: 20px;
    color: #000000;
    font-family: "Karla", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}




.box-btn {
   

    font-family: "Karla", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    fill: #000000F7;
    color: #000000F7;
    background-color: #00000000;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    border-radius: 23px 23px 23px 23px;
    padding: 15px 30px 15px 30px;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.box-btn:hover {
    background-color: #00000000;
    color: #000000F7;
    border: 1px solid #000000;
    
}


/* Section with Two Flex Boxes */
.flex-boxes-section {
    background-image: url("./assets/box-bg.jpg");
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 20px;
    background-color: #f9f9f9;
    
}

.flex-box {
    background-color: white;
    padding: 20px;
    
    

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 20px 20px;
    flex: 1;
    max-width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* border: 2px solid #000000; */
    text-align: center;
}

.flex-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.flex-box h2 {
    

    color: #000000;
    font-family: "Karla", Sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    
}

.flex-box ul {
    list-style-type: none;
    padding-left: 10px;
    color: #000000;
}

.flex-box ul li {
    margin-bottom: 10px;
    
    font-family: "Karla", Sans-serif;
    font-size: 19px;
    font-weight: 700;
}



/* Button Styling */
.flex-btn {
 
    
    padding: 15px 30px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
}

.flex-btn:hover {
    padding: 15px 30px;
    background-color: #727272;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
}







/* Overall About Us Section */
.about-us-section {
    padding: 50px 20px;
    background-color: #000000;
}

/* Section Heading */
.section-heading {
    text-align: center;  
    margin-bottom: 40px;
    color: #FFFFFF;
    font-family: "Karla", Sans-serif;
    font-size: 40px;
    font-weight: 600;

}

/* Container for Left and Right Boxes */
.boxes-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Left Box Styling */
.left-box {
    flex: 1;
    max-width: 50%;
}

.left-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Right Box Styling */
.right-box {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nested Flexboxes inside Right Box */
.nested-boxes {
    display: flex;
    flex-direction: row; /* Side-by-side layout */
    gap: 20px; /* Space between the two boxes */
    
}

/* Individual Nested Boxes */
.nested-box {
    background-color: #F0F7F3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 48%;
    height: 450px;

}

.nested-box h3 {
    font-size: 25px;
    font-family: "Karla", Sans-serif;
    margin-bottom: 10px;
    color: #333;
}

.nested-box p {
    font-size: 16px;
    font-family: "Karla", Sans-serif;
    line-height: 30px;
    color: #000000;
}


.nested-box ul{
    list-style-type: none;
}

.nested-box li{
    line-height: 30px;
    justify-content: center;
}





/* Contact Us Section */
.contact-us-section {
    background-image: url(./assets/Contact-bg.jpg);
    padding: 50px 20px;
    background-color: #f9f9f9;
}

/* Section Heading */
.contact-heading {
    text-align: center;
    margin-bottom: 40px;
   
    color: #000000;
    font-family: "Karla", Sans-serif;
    font-size: 40px;
    font-weight: 600;



}

/* Flexbox for Contact Us Section */
.contact-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}




/* Left Box (40% Width) */
.contact-info-box {
    flex: 0 0 40%; /* Fixed to 40% width */
    background-color: #000000;
    padding: 20px;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-heading {
    
    margin-bottom: 20px;
    

    color: #FFFFFF;
    font-family: "Karla", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.info-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    margin-bottom: 10px;
    color: #ffffff;
    font-family: "Karla", Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;

}

/* Right Box (60% Width) */
.form-box {
    flex: 0 0 60%; /* Fixed to 60% width */
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Contact Form */
.custom-contact-form {
    display: flex;
    flex-direction: column;
}

.custom-form-group {
    margin-bottom: 15px;
}

/* .custom-form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
} */

.custom-form-group input,
.custom-form-group textarea {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    font-size: 14px;
    border: 1px solid #69727d;


    background-color: #FFFFFF00;
    border-radius: 23px 23px 23px 23px;


    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.custom-form-group textarea {
    height: 100px;
}

.custom-submit-btn {
    font-family: "Karla", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 23px 23px 23px 23px;
    padding: 10px 30px 10px 30px;
    width: 20%;
    border: none;
}

.custom-submit-btn:hover {
    background-color: #727272;
    color: #ffffff;
    border: none;
    cursor: pointer;
    
}

.contact-social-icon{
    display: flex;
    gap: 15px;
    margin-top: 40px;
   
    
}

.fb-icon{
    font-size: 25px;
    color: #3b5998;
    
  
}

.tw-icon{
    font-size: 25px;
    color: #1da1f2;
}

.yt-icon{
    font-size: 25px;
   
    color: #cd201f;
}

.ig-icon{
    font-size: 25px;
   
    color: #ffffff;
}




/* Footer Section */
.custom-footer {

    background-color: #ffffff;
    color: #fff;
    /* padding: 40px 20px; */

    padding: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}

/* First Div: Logo and Summary */
.footer-logo-summary {
    flex: 1;
    max-width: 300px;

   
}


.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.footer-summary {

    color: #000000;
    font-family: "Karla", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

}

/* General Styling for All Divs */
.footer-heading {
   
    margin-bottom: 15px;
    
    color: #000000;
    font-family: "Karla", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;


}

/* Links List */
.footer-links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links-list li {
    margin-bottom: 10px;
    line-height: 30px;
    

}

.footer-links-list a {
   
    text-decoration: none;
   
    font-family: "Karla", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;

}

.footer-links-list a:hover {
    
    text-decoration: underline;
}

/* Fourth Div: Information */
.footer-info-list {
    list-style: none;
    padding: 0;
}

.footer-info-list li {
    margin-bottom: 10px;
    

    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-family: "Karla", Sans-serif;

}

.footer-info-list a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-family: "Karla", Sans-serif;

}

.footer-info-list a:hover {
    color: #000000;
}

/* Social Media Icons with New Class */
.footer-social-media-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
}

.social-icon img {
    width: 30px; /* Set the size of the icons */
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.1); /* Slight zoom on hover */
}


.box .no{
    
    color: #6EC1E400;
    font-family: "Karla", Sans-serif;
    font-size: 50px;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}


/* Copyright Section */
.footer-copyright {

    border-top: 1px solid gray;
    
}


.footer-copyright p{
    text-align: center;
    color: #000000;
    font-family: "Karla", Sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;
    padding-bottom: 20px;
}


/* ============================================== */

.directory-body{
    background-image: url(./assets/dir-bg.jpg);
    background-size: cover;
    height: 800px;
}

.stay-connected-heading {
    background-image: url(./assets/light-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 150px;
    height: 350px;
}

.stay-connected-heading p1{

    
    font-family: "Karla", Sans-serif;
    color: #000;
    font-size: 50px;
    margin-top: 100px;
    font-weight: 700;
    text-transform: uppercase;
   
}


.stay-connected-heading p2{

    font-family: "Karla", Sans-serif;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;

    }
    



/* ============== */

/* Style for the buttons and sections */
.search-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-btn {
   
    margin: 0 10px;
    font-family: "Karla", Sans-serif;
    padding: 15px 30px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;





}

.toggle-btn:hover {
    background-color: #8d8d8d;
}

.select-group, .input-group {
    display: flex;
    gap: 20px;
}

.select-field, .text-input {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: 500;
    font-family: "Karla", Sans-serif;
}

.search-btn {
    padding: 15px 30px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    font-size: 16px;
    font-family: "Karla", Sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #8d8d8d;
    color: #fff;
}

.search-category-fields, .search-text-field {
    display: flex;
    justify-content: center;
    padding: 20px;
    
    
}




.directory-body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(255, 156, 248) 3%, rgba(60,132,206,1) 38%, rgb(123, 255, 246) 68%, rgb(255, 113, 113) 98%);
    animation: gradient 30s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}